.bd-green{
    border: 1px solid green;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.div-hot-prod-img{
    height: 120px !important;
    width: 100% !important;
}

.div-card-prod-name{
    background: green;
}
    
.div-search-bar{
    padding-left: 10px;
    padding-right: 10px;
}

.div-bar-tab{
    padding-right: 10px;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .div-hot-prod-img{
        height: 150px !important;
        width: 100% !important;
    }
    
    .div-card-prod-name{
        background: green;
    }
        
    .div-search-bar{
        padding-left: 0;
        padding-right: 0;
    }
    
    .div-bar-tab{
        padding-right: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.div-hot-prod-img{
    height: 150px !important;
    width: 100% !important;
}

.div-card-prod-name{
    background: green;
}
    
.div-search-bar{
    padding-left: 0;
    padding-right: 0;
}

.div-bar-tab{
    padding-right: 0;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.div-hot-prod-img{
    height: 150px !important;
    width: 100% !important;
}

.div-card-prod-name{
    background: green;
}

.div-search-bar{
    padding-left: 0;
    padding-right: 0;
}

.div-bar-tab{
    padding-right: 0;
}


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.div-card-prod-name{
    background: green;
}

.div-hot-prod-img{
    height: 200px !important;
    width: 100% !important;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

.div-card-prod-name{
    background: green;
}


}