.opt-hide{
	visibility: hidden;	
	display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.font-size-14{
	font-size: 14px !important;
}

.textbox-readonly{
	background: white !important;
	color: black !important;
}

body{
	/* background: rgb(238, 236, 225); */
	background: white;
}

.error{
	border: 1px solid red !important;
}

.text-yellow{
	color: yellow;
}

.text-green{
	color: #77933c;
}

.bd-green{
	border: 1px solid #AEDCBF;
}

.cursor-pointer{
	cursor: pointer;
}

.btn-orange {
	background: orange;
}

.btn-green2{
	background: #67B073;
}	

textarea{
	resize: none !important;
}

.form-control{
	height: 35px;
}

.span_link:active{
	color: white;
}

.font-weight-600{
	font-weight: 600;
}

.input-group-prepend span{
	height: 35px;
	border-right: 2px solid #AEDCBF !important;
}

.input-group-append span{
	height: 35px;
	border-left:  2px solid #AEDCBF !important;
}

.input-group-append span.cursor-pointer:active{
	background: #67B073 !important;
	color: white;
}

.textbox-orange{
	border: 1px solid orange ;
}

.btn-green2{
	background: #67B073;
}

.textbox-green2{
	border: 1px solid #AEDCBF;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

#img_upload .modal-body{
    padding-left: 0;
    padding-right: 0;
}

.modal-dialog{
    max-width: 360px;
}

.modal-body{
    padding-left: 30px;
    padding-right: 30px;
}

#div-img-process-order{
    padding-top: 1.5rem;
    text-align: center;
}

#div-img-close-order{
    padding-top: 1.5rem;
    text-align: center;
}

#img_process_order{
    width: 50%;
}

#img_close_order{
    width: 50%;
}

/* #img_upload{
    top: 4%;
    bottom: 4%;
} */

.modal-ftr-bg{
    padding-bottom: 5%;
}
/* DIV ADS */

.div-ads{
	height: auto;
	background: white;
	border: 1px solid #2E904F;
}

.div-ads-img{
    height: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}


/* DIV ADS */

/*Header*/
.text-span-header-clickable{
	text-align: left!important;
}

.div-header{
	min-height: 200px;
    background: #77933c;
    padding-bottom: 20px;
}

.div-prof-pic{
	height: 100px;
	width: 130px;
    background: white;
    padding-top: 8.3%;
}

.div-prof-details{
	height: 140px;
}

.text-buss-name{
	font-size: 30px;
}

.text-buss-type{
	font-size: 18px;
}

.text-buss-address{
	font-size: 16px;
}

.text-span-header-clickable{
	font-size: 17px;
}

/*HEADER*/

/*LEFT SIDEBAR (ABOUT US) */
.div-left-aboutus{
	height: 180px;
	width:92%;
	background: #c3d69b;
	margin: auto;
}


.div-aboutus-details{
	overflow: auto; 
	height: 130px;
}

/*LEFT SIDEBAR (ABOUT US) */

/*LEFT SIDEBAR (CONTACT US)*/
.div-left-contacts{
	height: 190px;
	width:92%;
	background: white;
	margin: auto;
	margin-bottom: 15px;
}

/*LEFT SIDEBAR (CONTACT US)*/


/*CENTER (ADD PRODUCTS)*/
.div-center{
	background: #f5f5f5;
	min-height: 700px;
	height: auto;
}

.write-post-box {
	height: 220px !important;
	border: 1px solid #AEDCBF;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.write-post {
	padding-left: 10px;
	height: 170px !important;
}


.form-control-post{
	background: #f5f5f5;
	min-height: 48px !important; 
	height: auto;
	border: 1px solid #AEDCBF;
	border-top-right-radius: 0 !important; 
	border-top-left-radius: 0 !important;
}

.posted-prod{
	padding-left: 12px;
	padding-right: 12px;
}

.div-list-img{
	height: 140px;
	/* height: 230px; */
/*    height: 225px;*/
/*    width: 225px;*/
	width: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

.div-list-img img{
/*	height: 184px;
	width: 100%;*/
	height: 100%;
	width: 100%;
}

.div-list-img-btn{
/*	width: 225px;*/
	line-height: 17px;
	width: 100%;
}

.div-list-img-btn:active {
  background-color: #77933c;
  color: white;
}

/*CENTER (ADD PRODUCTS)*/

/* LEFT SIDEBAR SETTING */

.div-left-setting{
	height: 100px;
	background: #c3d69b;
	width: 92%;
	margin: auto;
	margin-bottom: 15px;
}

/* LEFT SIDEBAR SETTING */

/* MODAL PRODUCTS */
.modal-half {
    min-width: 60%;
    margin: 25;
}

.modal-half .modal-content {
    min-height: 50vh;
}

.modal-img-upload {
	margin-top: 8px;
	margin-left: 55px;
	height: 200px;
	width: 220px;
    /* border: 1px solid #AEDCBF; */
    border: 1px solid #28a745;
	background: white;
}

.modal-img-upload img {
	width: 100%;
	height: 200px;
}

.btn-modal-img-upload {
	margin-left: 55px;
	justify-content: center;
	background: #E7E7E7;
	color: black;
	font-size: 16px;
	opacity: 1 !important;
	width: 220px;
	border-radius: 0px !important;
	text-align: center;
	height: 40px !important;
}

.img-upload-modal {
	opacity: 0;
	/* margin-left: -120px; */
}

/* MODAL PRODUCTS */

.btn-width-samll{
	width: 50px;
}

.div-list-category{
	height: 150px;
	overflow: auto;
}

.div-prod-cat-tbl{
	height: 300px;
	overflow: auto;
}

/* PRODUCT DETAILS */

.div-product-details-img{
	height: 180px;
	width: 70%;
	margin: auto;
}

.div-store-img{
	height: 100px !important;
	border: 1px solid #AEDCBF;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 200px;
}

.div-store-img-btn{
    display: block;
    margin-top: -70px;
}

.div-update-button{
    display: block;
}

#modal_store_img .modal-body{
    padding-left: 2rem;
    padding-right: 2rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/* DIV ADS */

.div-ads{
	height: auto;
	min-height: 660px;
	background: white;
	border: 1px solid #2E904F;
}

.div-ads-img{
    height: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

/* DIV ADS */

/*Header*/
.div-header{
	height: 150px;
	background: #77933c;
}


.div-prof-pic{
	height: 140px;
	width: 200px;
	background: white;
}

.div-prof-details{
	height: 140px;
}

.text-buss-name{
	font-size: 30px;
}

.text-buss-type{
	font-size: 18px;
}

.text-buss-address{
	font-size: 16px;
}

.text-span-header-clickable{
	font-size: 17px;
}

/*HEADER*/

/*LEFT SIDEBAR (ABOUT US) */
.div-left-aboutus{
	height: 700px;
	width: 205px;
	background: #c3d69b;
}

.div-aboutus-details{
	overflow: auto; 
	height: 420px;
}

/*LEFT SIDEBAR (ABOUT US) */

/*LEFT SIDEBAR (CONTACT US)*/
.div-left-contacts{
	height: 230px;
	width: 205px;
	background: white;
}

/*LEFT SIDEBAR (CONTACT US)*/


/*CENTER (ADD PRODUCTS)*/
.div-center{
	background: #f5f5f5;
	min-height: 700px;
	height: auto;
}

.write-post-box {
	height: 220px !important;
	border: 1px solid #AEDCBF;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.write-post {
	padding-left: 10px;
	height: 170px !important;
}


.form-control-post{
	background: #f5f5f5;
	min-height: 48px !important; 
	height: auto;
	border: 1px solid #AEDCBF;
	border-top-right-radius: 0 !important; 
	border-top-left-radius: 0 !important;
}

.posted-prod{
	padding-left: 12px;
	padding-right: 12px;
}

.div-list-img{
	height: 200px;
	/* height: 230px; */
/*    height: 225px;*/
/*    width: 225px;*/
	width: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

.div-list-img img{
/*	height: 184px;
	width: 100%;*/
	height: 100%;
	width: 100%;
}

.div-list-img-btn{
/*	width: 225px;*/
	line-height: 17px;
	width: 100%;
}

.div-list-img-btn:active {
  background-color: #77933c;
  color: white;
}

/*CENTER (ADD PRODUCTS)*/

/* LEFT SIDEBAR SETTING */

.div-left-setting{
	height: 500px;
	background: #c3d69b;
	width: 205px;
}

/* LEFT SIDEBAR SETTING */

/* MODAL PRODUCTS */
.modal-half {
    min-width: 60%;
    margin: 25;
}

.modal-half .modal-content {
    min-height: 50vh;
}

.modal-img-upload {
	margin-top: 8px;
	margin-left: 15px;
	height: 200px;
	width: 255px;
    border: 1px solid #28a745;
	background: white;
}

.modal-img-upload img {
	width: 100%;
	height: 200px;
}

.btn-modal-img-upload {
	margin-left: 16px;
	justify-content: center;
	background: #E7E7E7;
	color: black;
	font-size: 16px;
	opacity: 1 !important;
	width: 85%;
	border-radius: 0px !important;
	text-align: center;
	height: 40px !important;
}

.img-upload-modal {
	opacity: 0;
	/* margin-left: -120px; */
}

/* MODAL PRODUCTS */

.btn-width-samll{
	width: 50px;
}

.div-list-category{
	height: 150px;
	overflow: auto;
}

.div-prod-cat-tbl{
	height: 300px;
	overflow: auto;
}

.div-store-img{
	height: 100px !important;
	border: 1px solid #AEDCBF;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 200px;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.pad-md-right{
	padding-right: 3px;
}

/* DIV ADS */

.div-ads{
	height: auto;
	min-height: 660px;
	background: white;
	border: 1px solid #2E904F;
}

.div-ads-img{
    height: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

/* DIV ADS */

/*Header*/
.div-header{
	height: 170px;
	background: #77933c;
}

.div-prof-pic{
	height: 140px;
	width: 200px;
	background: white;
}

.div-prof-details{
	height: 140px;
}

.text-buss-name{
	font-size: 30px;
}

.text-buss-type{
	font-size: 18px;
}

.text-buss-address{
	font-size: 16px;
}

.text-span-header-clickable{
	font-size: 17px;
}

/*HEADER*/

/*LEFT SIDEBAR (ABOUT US) */
.div-left-aboutus{
	height: 470px;
	width: 205px;
	background: #c3d69b;
}

.div-aboutus-details{
	overflow: auto; 
	height: 420px;
}

/*LEFT SIDEBAR (ABOUT US) */

/*LEFT SIDEBAR (CONTACT US)*/
.div-left-contacts{
	height: 230px;
	width: 205px;
	background: white;
}

/*LEFT SIDEBAR (CONTACT US)*/


/*CENTER (ADD PRODUCTS)*/
.div-center{
	background: #f5f5f5;
	min-height: 700px;
	height: auto;
}

.write-post-box {
	height: 220px !important;
	border: 1px solid #AEDCBF;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.write-post {
	padding-left: 10px;
	height: 170px !important;
}


.form-control-post{
	background: #f5f5f5;
	min-height: 48px !important; 
	height: auto;
	border: 1px solid #AEDCBF;
	border-top-right-radius: 0 !important; 
	border-top-left-radius: 0 !important;
}

.posted-prod{
	padding-left: 12px;
	padding-right: 12px;
}

.div-list-img{
	height: 150px;
	/* height: 230px; */
/*    height: 225px;*/
/*    width: 225px;*/
	width: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

.div-list-img img{
/*	height: 184px;
	width: 100%;*/
	height: 100%;
	width: 100%;
}

.div-list-img-btn{
/*	width: 225px;*/
	line-height: 17px;
	width: 100%;
}

.div-list-img-btn:active {
  background-color: #77933c;
  color: white;
}

/*CENTER (ADD PRODUCTS)*/

/* LEFT SIDEBAR SETTING */

.div-left-setting{
	height: 500px;
	background: #c3d69b;
	width: 205px;
}

/* LEFT SIDEBAR SETTING */

/* MODAL PRODUCTS */
.modal-half {
    min-width: 60%;
    margin: 25;
}

.modal-half .modal-content {
    min-height: 50vh;
}

.modal-img-upload {
	margin-top: 8px;
	margin-left: 15px;
	height: 200px;
	width: 255px;
    border: 1px solid #28a745;
	background: white;
}

.modal-img-upload img {
	width: 100%;
	height: 200px;
}

.btn-modal-img-upload {
	margin-left: 16px;
	justify-content: center;
	background: #E7E7E7;
	color: black;
	font-size: 16px;
	opacity: 1 !important;
	width: 85%;
	border-radius: 0px !important;
	text-align: center;
	height: 40px !important;
}

.img-upload-modal {
	opacity: 0;
	/* margin-left: -120px; */
}

/* MODAL PRODUCTS */

.btn-width-samll{
	width: 50px;
}

.div-list-category{
	height: 150px;
	overflow: auto;
}

.div-prod-cat-tbl{
	height: 300px;
	overflow: auto;
}

.div-product-details-img{
	height: 230px;
	width: 230px;
	margin: auto;
}

.div-store-img{
	height: 100px !important;
	border: 1px solid #AEDCBF;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 200px;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.pad-md-right{
	padding-right: 3px;
}
	

/* DIV ADS */

.div-ads{
	height: auto;
	min-height: 660px;
	background: white;
	border: 1px solid #2E904F;
}

.div-ads-img{
    height: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

/* DIV ADS */

/*Header*/
.div-header{
	height: 150px;
	background: #77933c;
}

.div-prof-pic{
	height: 140px;
	width: 200px;
	background: white;
	padding-top: 70px;
}

.div-prof-details{
	height: 140px;
}

.text-buss-name{
	font-size: 30px;
}

.text-buss-type{
	font-size: 18px;
}

.text-buss-address{
	font-size: 16px;
}

.text-span-header-clickable{
	font-size: 17px;
}

/*HEADER*/

/*LEFT SIDEBAR (ABOUT US) */
.div-left-aboutus{
	height: 470px;
	width: 205px;
	background: #c3d69b;
}

.div-aboutus-details{
	overflow: auto; 
	height: 420px;
}

/*LEFT SIDEBAR (ABOUT US) */

/*LEFT SIDEBAR (CONTACT US)*/
.div-left-contacts{
	height: 230px;
	width: 205px;
	background: white;
}

/*LEFT SIDEBAR (CONTACT US)*/


/*CENTER (ADD PRODUCTS)*/
.div-center{
	background: #f5f5f5;
	min-height: 700px;
	height: auto;
}

.write-post-box {
	height: 220px !important;
	border: 1px solid #AEDCBF;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.write-post {
	padding-left: 10px;
	height: 170px !important;
}


.form-control-post{
	background: #f5f5f5;
	min-height: 48px !important; 
	height: auto;
	border: 1px solid #AEDCBF;
	border-top-right-radius: 0 !important; 
	border-top-left-radius: 0 !important;
}

.posted-prod{
	padding-left: 12px;
	padding-right: 12px;
}

.div-list-img{
	height: 150px;
	/* height: 230px; */
/*    height: 225px;*/
/*    width: 225px;*/
	width: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

.div-list-img img{
/*	height: 184px;
	width: 100%;*/
	height: 100%;
	width: 100%;
}

.div-list-img-btn{
/*	width: 225px;*/
	line-height: 17px;
	width: 100%;
}

.div-list-img-btn:active {
  background-color: #77933c;
  color: white;
}

/*CENTER (ADD PRODUCTS)*/

/* LEFT SIDEBAR SETTING */

.div-left-setting{
	height: 500px;
	background: #c3d69b;
	width: 205px;
}

/* LEFT SIDEBAR SETTING */

/* MODAL PRODUCTS */
.modal-half {
    min-width: 60%;
    margin: 25;
}

.modal-half .modal-content {
    min-height: 50vh;
}

.modal-img-upload {
	margin-top: 8px;
	margin-left: 15px;
	height: 200px;
	width: 255px;
    border: 1px solid #28a745;
	background: white;
}

.modal-img-upload img {
	width: 100%;
	height: 200px;
}

.btn-modal-img-upload {
	margin-left: 16px;
	justify-content: center;
	background: #E7E7E7;
	color: black;
	font-size: 16px;
	opacity: 1 !important;
	width: 85%;
	border-radius: 0px !important;
	text-align: center;
	height: 40px !important;
}

.img-upload-modal {
	opacity: 0;
	/* margin-left: -120px; */
}

/* MODAL PRODUCTS */

.btn-width-samll{
	width: 50px;
}

.div-list-category{
	height: 150px;
	overflow: auto;
}

.div-prod-cat-tbl{
	height: 300px;
	overflow: auto;
}

.div-product-details-img{
	height: 250px;
	width: 250px;
	margin: auto;
}

.div-store-img{
	height: 240px !important;
	border: 1px solid #AEDCBF;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 200px;
}


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.pad-right{
	padding-right: 3px;
}

.pad-left{
	padding-left: 3px;
}

.pad-center{
	padding-left: 3px;
	padding-right: 3px;
}

/* DIV ADS */

.div-ads{
	height: auto;
	min-height: 660px;
	background: white;
	border: 1px solid #2E904F;
}

.div-ads-img{
    height: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

/* DIV ADS */

/*Header*/
.div-header{
	height: 150px;
	background: #77933c;
}

.div-prof-pic{
	height: 140px;
	width: 200px;
	background: white;
}

.div-prof-details{
	height: 140px;
}

.text-buss-name{
	font-size: 30px;
}

.text-buss-type{
	font-size: 18px;
}

.text-buss-address{
	font-size: 16px;
}

.text-span-header-clickable{
	font-size: 17px;
}

/*HEADER*/

/*LEFT SIDEBAR (ABOUT US) */
.div-left-aboutus{
	height: 470px;
	width: 205px;
	background: #c3d69b;
}

.div-aboutus-details{
	overflow: auto; 
	height: 420px;
}

/*LEFT SIDEBAR (ABOUT US) */

/*LEFT SIDEBAR (CONTACT US)*/
.div-left-contacts{
	height: 230px;
	width: 205px;
	background: white;
}

/*LEFT SIDEBAR (CONTACT US)*/


/*CENTER (ADD PRODUCTS)*/
.div-center{
	background: #f5f5f5;
	min-height: 700px;
	height: auto;
}

.write-post-box {
	height: 220px !important;
	border: 1px solid #AEDCBF;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.write-post {
	padding-left: 10px;
	height: 170px !important;
}


.form-control-post{
	background: #f5f5f5;
	min-height: 48px !important; 
	height: auto;
	border: 1px solid #AEDCBF;
	border-top-right-radius: 0 !important; 
	border-top-left-radius: 0 !important;
}

.posted-prod{
	padding-left: 12px;
	padding-right: 12px;
}

.div-list-img{
	height: 200px;
	/* height: 230px; */
/*    height: 225px;*/
/*    width: 225px;*/
	width: 100%;
    border: 1px solid #AEDCBF;
    background: white;
}

.div-list-img img{
/*	height: 184px;
	width: 100%;*/
	height: 100%;
	width: 100%;
}

.div-list-img-btn{
/*	width: 225px;*/
	line-height: 17px;
	width: 100%;
}

.div-list-img-btn:active {
  background-color: #77933c;
  color: white;
}

/*CENTER (ADD PRODUCTS)*/

/* LEFT SIDEBAR SETTING */

.div-left-setting{
	height: 500px;
	background: #c3d69b;
	width: 205px;
}

/* LEFT SIDEBAR SETTING */

/* MODAL PRODUCTS */
.modal-half {
    min-width: 60%;
    margin: 25;
}

.modal-half .modal-content {
    min-height: 50vh;
}

.modal-img-upload {
	margin-top: 8px;
	margin-left: 15px;
	height: 200px;
	width: 255px;
    border: 1px solid #28a745;
	background: white;
}

.modal-img-upload img {
	width: 100%;
	height: 200px;
}

.btn-modal-img-upload {
	margin-left: 15px;
	justify-content: center;
	background: #E7E7E7;
	color: black;
	font-size: 16px;
	opacity: 1 !important;
	width: 255px;
	border-radius: 0px !important;
	text-align: center;
    height: 40px !important;
}

.img-upload-modal {
	opacity: 0;
	/* margin-left: -120px; */
}

/* MODAL PRODUCTS */

.btn-width-samll{
	width: 50px;
}

.div-list-category{
	height: 150px;
	overflow: auto;
}

.div-prod-cat-tbl{
	height: 300px;
	overflow: auto;
}

/* STORE */
.posted-store{
	padding-left: 12px;
	padding-right: 12px;
}

/*.div-store-img{
	height: 270px;
	border: 1px solid #AEDCBF;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 200px;
}*/

.div-store-img{
	height: 380px !important;
/*	border: 0;*/
	border: 1px solid white;
	background-image: url("../../icons/img-icon1.jpg");
	background-size: 100% 100%;
	padding-top: 303px;
}


}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

	
}