

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .div-img-header-row-1{
        height: 185px;
    }    
    
    .div-img-header-row-2{
        height: 200px;
    }
    
    .div-img-header-1{
        background: url('../../images/blog/blog-1.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-2{
        background: url('../../images/blog/blog-2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-3{
        background: url('../../images/blog/blog-3.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-4{
        background: url('../../images/blog/blog-4.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-5{
        background: url('../../images/blog/blog-5.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-6{
        background: url('../../images/blog/blog-6.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-side img{
        height: 525px;
        display: none;
    }
    
    .div-blog{
        margin-top: 25px;
    }
    
    .div-blog-img{
        height: 200px;
        /* background: url('../../images/blog/blog-6.png'); */
        background-size: 100%;
        background-repeat: no-repeat;    
    }      
        
    .div-img-blog{
        height: 200px;
    }

    .div-blog-header-img{
        height: 200px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .div-img-header-row-1{
        height: 150px;
    }    
    
    .div-img-header-row-2{
        height: 175px;
    }
    
    .div-img-header-1{
        background: url('../../images/blog/blog-1.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-2{
        background: url('../../images/blog/blog-2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-3{
        background: url('../../images/blog/blog-3.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-4{
        background: url('../../images/blog/blog-4.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-5{
        background: url('../../images/blog/blog-5.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-6{
        background: url('../../images/blog/blog-6.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-side img{
        height: 450px;
    }

    .font-size-58{
        font-size: 45px;
    }

    .div-blog{
        margin-top: 25px;
    }
    
    .div-blog-img{
        height: 200px;
        /* background: url('../../images/blog/blog-6.png'); */
        background-size: 100%;
        background-repeat: no-repeat;    
    }    

    .div-img-blog{
        height: 275px;
    }    

    .div-blog-header-img{
        height: 300px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .div-img-header-row-1{
        height: 160px;
    }    
    
    .div-img-header-row-2{
        height: 170px;
    }
    
    .div-img-header-1{
        background: url('../../images/blog/blog-1.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-2{
        background: url('../../images/blog/blog-2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-3{
        background: url('../../images/blog/blog-3.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-4{
        background: url('../../images/blog/blog-4.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-5{
        background: url('../../images/blog/blog-5.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-6{
        background: url('../../images/blog/blog-6.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-side img{
        height: 450px;
    }

    .font-size-58{
        font-size: 45px;
    }

    .div-side img{
        height: 525px;
        display: inline-block;
    }
    
    .div-blog{
        margin-top: 25px;
    }
    
    .div-blog-img{
        height: 150px;
        /* background: url('../../images/blog/blog-6.png'); */
        background-size: 100%;
        background-repeat: no-repeat;    
    }
   
    .div-img-blog{
        height: 275px;
    }    

    .div-blog-header-img{
        height: 300px;
    }
    .pad-left-0{
        padding-left: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .div-img-header-row-1{
        height: 160px;
    }    
    
    .div-img-header-row-2{
        height: 170px;
    }
    
    .div-img-header-1{
        background: url('../../images/blog/blog-1.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-2{
        background: url('../../images/blog/blog-2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-3{
        background: url('../../images/blog/blog-3.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-4{
        background: url('../../images/blog/blog-4.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-5{
        background: url('../../images/blog/blog-5.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-img-header-6{
        background: url('../../images/blog/blog-6.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .div-side img{
        height: 450px;
    }

    .font-size-58{
        font-size: 45px;
    }

    .div-side img{
        height: 525px;
        display: inline-block;
    }
    
    .div-blog{
        margin-top: 25px;
    }
    
    .div-blog-img{
        height: 185px;
        /* background: url('../../images/blog/blog-6.png'); */
        background-size: 100%;
        background-repeat: no-repeat;    
    }
        
    .div-img-blog{
        height: 275px;
    }    

    .div-blog-header-img{
        height: 500px;
    }

    .pad-left-0{
        padding-left: 0;
    }    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



.div-img-header-row-1{
    height: 185px;
}    

.div-img-header-row-2{
    height: 200px;
}

.div-img-header-1{
    background: url('../../images/blog/blog-1.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-img-header-2{
    background: url('../../images/blog/blog-2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-img-header-3{
    background: url('../../images/blog/blog-3.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-img-header-4{
    background: url('../../images/blog/blog-4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div-img-header-5{
    background: url('../../images/blog/blog-5.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-img-header-6{
    background: url('../../images/blog/blog-6.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.div-side img{
    height: 525px;
    display: inline-block;
}

#div-blog-content{
    margin-top: 25px;
    margin-bottom: 20px;
}

.div-blog{
    margin-top: 25px;
}

.div-blog-img{
    height: 225px;
    /* background: url('../../images/blog/blog-6.png'); */
    background-size: 100%;
    background-repeat: no-repeat;    
}

.div-img-blog{
    height: 350px;
}

.div-blog-header-img{
    height: 350px;
}

.pad-left-0{
    padding-left: 0;
}

}