*{
    font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}

.font-weight-600{
    font-weight: 600;
}

.btn-see-more:hover{
    color: white;
}

.carousel-indicators .active{
    background-color: orange !important;
}

.carousel-indicators li{
    background-color: gray !important;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 3s ease;
    transition: transform 3s ease;
    transition: transform 3s ease, -webkit-transform 3s ease;
}

.error{
    border:1px solid red !important;
}

/* Text Color */
.text-black{
    color: black;
}

.text-white{
    color:white;
}

.text-yellow{
    color: yellow;
}

.text-red{
    color: red;
}

.text-orange{
    color: orange;
}

.text-green{
    color: #006600;
}

.text-gray{
    color: gray;
}


/* Background Color */
.bg-green{
    background-color: #006600;
}

.bg-orange{
    background: orange;
}

/* Button Color */
.btn-orange{
    background-color: orange;
}

/* Button no Shadow */
.btn-no-shadow:focus{
    outline: none !important;
    box-shadow: none !important;
}

/* border color */
.bd-orange{
    border: 1px solid orange;
}

.bd-green{
    border: 1px solid #006600;
}

.dropdown-menu{
    margin-top: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.carousel-indicators .active{
    background-color: white !important;
}

.carousel-indicators li{
    background-color: gray !important;
    visibility: hidden;
}

.icon-prev, .icon-next{
    /* color: rgb(99, 91, 91) !important; */
    color:black !important;
}

.div-header{
    background-color: #006600;
    height: 145px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    padding: 0rem;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 100%;

    position: absolute; 
    top: 54px;
    /* right: -15px; */

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 4;
}

.div-button{
    order: 3;
}

.div-header-currency{
    order: 2;
    margin-left: auto;
}

.dropdown-item{
    padding: 0.25rem 1rem;
}

.dropdown-menu{
    min-width: 6rem;
}



/* Body */
.div-featured-stores{
    /* height: 460px; */
    /* height: 420px; */
    height: 485px;
    /* border-bottom: 1px solid black; */

    background-image: url("../img/bg-featured-product.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* background-color: white; */
}

.div-featured{
    /* height: 50px; */
    font-size: 20px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 4%;
}

.carousel-item .container{
    padding-left: 0;
    padding-right: 0;
}

.div-hot-prod{
    /* height: 205px; */
    /* height: 185px; */
    height: 220px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    /* height: 110px; */
    height: 150px;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 100%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 14px;
}

.div-card-prod-name .prod-price{
    font-size: 13px;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

.carousel-indicators{
    bottom: 0;
}

/* Featured Products */

.div-featured-product{
    height: auto;
    padding: 3% 2.2%;
    background-color: white;
    border-bottom: 1px solid #9acd32;
}

.span-featured-products{
    font-size: 20px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    /* height: 210px; */
    height: 70px;
    padding-top: 10px;
    margin-top: 10px;
}

.div-outlet-store{
    height: 65px;
}

.div-outlet-about{
    height: 80px;
}

.div-outlet-logo{
    /* height: 55px; */
    height: 48px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    font-size: 16px;
}

.span-outlet-about{
    font-size: 15px;
    /* color: white; */
}

.div-outlet-button{
    padding-bottom: 10px;
}

.div-outlet-img{
    height: 300px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* Footer */

.div-footer-1{
    padding-top: 0;
}

.text-footer-logo{
    font-size: 15.5px;
}

.div-footer-col-2-logo{
    text-align: center;
    padding: 1rem;
}

.div-footer-col-2-text{
    text-align: center;
}

.div-footer-col-3{
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 50vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    /* max-width: 310px; */
    width: 100%;
    padding-top: 10px;
}

.div-video-screen{
    height: 30vh;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.carousel-indicators .active{
    background-color: orange !important;
}

.carousel-indicators li{
    background-color: gray !important;
    visibility: visible;
}

.icon-prev, .icon-next{
    /* color: orange !important; */
    color: black !important;
}

.div-header{
    background-color: #006600;
    height: 55px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    padding: .5rem 1rem;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 70%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 30%;

    position: absolute; 
    top: 54px;
    right: -15px;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 480px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-hot-prod{
    height: 205px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    height: 130px;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 100%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}


.carousel-item{
    padding-top: 0px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 240px;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    height: 210px;
    padding-top: 10px;
    margin-top: 10px;
}

.div-outlet-store{
    height: 65px;
}

.div-outlet-about{
    height: 80px;
}

.div-outlet-logo{
    height: 55px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.div-outlet-button{
    padding-bottom: 10px;
}

.div-outlet-img{
    height: 300px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer */

.div-footer-1{
    padding-top: 1rem;
}

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 23vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 650px;
}

.div-video-screen{
    height: 15vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.div-header{
    background-color: #006600;
    height: 55px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 55%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 30%;

    position: absolute; 
    top: 54px;
    right: -15px;

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.div-header-currency{
    order: 3;
}

/* Body */
.carousel-item .container{
    max-width: 600px;
}

.div-featured-stores{
    height: 575px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-hot-prod{
    height: 250px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    height: 175px;
    width: 90%;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 90%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}


.carousel-item{
    padding-top: 0px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 240px;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    /* height: 550px; */
    height: 403px;
    padding-top: 10px;
    margin-top: 10px;
}

.div-outlet-store{
    height: 65px;
}

.div-outlet-about{
    height: 100px;
}

.div-outlet-logo{
    height: 55px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.div-outlet-button{
    padding-bottom: 10px;
}

.div-outlet-img{
    /* height: 325px; */
    height: 285px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 23vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 650px;
}

.div-video-screen{
    height: 15vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.pad-right{
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-center{
    padding-right: 3px;
    padding-left: 3px;
}
    
.div-header{
    background-color: #006600;
    height: 58px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: 0px !important;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 36%;
}

.div-header-searchbar .input-group{
    width: 100%;
}    

.navbar-collapse{
    padding: 0%;
    position: relative; 
    top: 0;
    right: -0px; 

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.div-header-currency{
    order: 3;
}


.navbar-collapse{
    order: 3;
}

/* Body */
.carousel-item .container{
    max-width: 850px;
}

.div-featured-stores{
    height: 325px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-hot-prod{
    height: 205px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    height: 130px;
    width: 100%;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 100%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}


.carousel-item{
    padding-top: 0px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 300px;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    /* height: 455px; */
    height: 293px;
    padding-top: 10px;
    margin-top: 10px;
}

.div-outlet-store{
    height: 65px;
}

.div-outlet-about{
    height: 130px;
}

.div-outlet-logo{
    height: 55px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    font-size: 17px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.div-outlet-button{
    padding-bottom: 10px;
}

.div-outlet-img{
    /* height: 200px; */
    height: 175px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 33vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 960px;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.pad-lg-right-0{
    padding-right: 0;
}
    
.pad-right{
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-center{
    padding-right: 3px;
    padding-left: 3px;
}

.div-header{
    background-color: #006600;
    height: 65px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: -3px !important;
}

.font-logo{
    font-size: 40px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 90%;
}

.navbar-collapse{
    padding: 0%;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.div-header-currency{
    order: 3;
}


.navbar-collapse{
    order: 3;
}

/* Body */

.carousel-item .container{
    max-width: 1100px;
}

.div-featured-stores{
    height: 400px;
    /* height: 380px; */
    /* border-bottom: 1px solid black; */
    /* background:white; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div-featured{
    /* height: 50px; */
    font-size: 22px;
    /* font-style: italic; */
    position: absolute;
    top: 3%;
    padding-left: 3.3%;
}

.div-hot-prod{
    height: 300px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    /* height: 200px; */
    height: 220px;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 100%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}


/* Featured Products */

.div-featured-product{
    min-height: 270px;
    height:auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    /* background-color: #d7e4bd; */
    padding: 0.5% 0% 2.5% 2.3%;
}

.span-featured-products{
    font-size: 22px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    /* height: 600px; */
    height: 373px;
    padding-top: 10px;
}

.div-outlet-store{
    /* height: 60px; */
    height: 75px;
}

.div-outlet-about{
    height: 150px;
}

.div-outlet-logo{
    /* height: 60px;    */
    /* height: 90px; */
    /* width: 95%; */
    height: 75px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    /* font-size: 25px; */
    font-size: 18px;
    color: white;
    line-height: 5px;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.div-outlet-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-outlet-img{
    height: 250px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 33vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 960px;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

/* dropdown currency */

.dropdown-menu{
    margin-top: 4px;
}

.img-flag{
    margin-top: -3px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    
.pad-lg-right-0{
    padding-right:0;
}

.carousel-item .container{
    max-width: 1200px;
}

.div-header{
    background-color: #006600;
    height: 68px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: -5px !important;
}


.font-logo{
    font-size: 45px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 50%;
}

.navbar-collapse{
    padding: 0%;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.navbar-collapse{
    order: 3;
}

/* Body */
.carousel-item{
    padding-top: 0px;
}

.div-featured-stores{
    height: 450px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div-featured{
    /* height: 50px; */
    font-size: 35px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2.3%;
}

.div-hot-prod{
    height: 350px;
    /* border: 1px solid #9acd32; */
}

.div-hot-prod-img{
    height: 250px;
    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.div-card-prod-name{
    height: 50px;
    width: 100%;
    /* border: 1px solid #006600; */
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: #c8d3b1;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}


/* Featured Products */

.div-featured-product{
    min-height: 1000px;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 1.7%;
}

.span-featured-products{
    font-size: 30px;
    /* font-style: italic; */
}

.div-online-store{
    background-color: green;
    border: 1px solid #C0C0C0;
    height: 700px;
    padding-top: 10px;
}

.div-outlet-store{
    height: 125px;
}

.div-outlet-about{
    height: 140px;
}

.div-outlet-logo{
    height: 120px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.span-outlet-name{
    font-size: 27px;
    color: white;
}

.span-outlet-about{
    font-size: 18px;
    color: white;
}

.div-outlet-button{
    padding-bottom: 10px;
}

.div-outlet-img{
    height: 355px;

    background-image: url('https://www.outletko.com/images/store/file_18_399915.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 35vh;
    padding: 0.5% 1.7%;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}