*{
    font-family: Arial, Helvetica, sans-serif;
}

.font-weight-600{
    font-weight: 600;
}

.btn-see-more:hover{
    color: white;
}

.carousel-indicators .active{
    background-color: orange !important;
}

.carousel-indicators li{
    background-color: gray !important;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 3s ease;
    transition: transform 3s ease;
    transition: transform 3s ease, -webkit-transform 3s ease;
}


/* Text Color */
.text-black{
    color: black;
}

.text-white{
    color:white;
}

.text-yellow{
    color: yellow;
}

.text-red{
    color: red;
}

.text-orange{
    color: orange;
}

.text-green{
    color: #006600;
}

.text-gray{
    color: gray;
}


/* Background Color */
.bg-green{
    background-color: #006600;
}

.bg-orange{
    background: orange;
}

    /* Button Color */
.btn-orange{
    background-color: orange;
}

/* border color */
.bd-orange{
    border: 1px solid orange;
}

.bd-green{
    border: 1px solid #006600;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.carousel-indicators .active{
    background-color: white !important;
}

.carousel-indicators li{
    background-color: gray !important;
    visibility: hidden;
}

.icon-prev, .icon-next{
    /* color: rgb(99, 91, 91) !important; */
    color:black !important;
}

.div-header{
    background-color: #006600;
    height: 100px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    padding: 0rem;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 100%;

    position: absolute; 
    top: 54px;
    /* right: -15px; */

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 3;
}

.div-button{
    order: 2;
}

/* Body */
.div-featured-stores{
    height: 460px;
    /* border-bottom: 1px solid black; */

    /* background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

    background-color: white;
}

.div-featured{
    /* height: 50px; */
    font-size: 20px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 4%;
}

.div-outlet{
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.div-outlet-product{
    height: 200px;
    width: 100%;
    margin-left: 0%;
    /* padding-bottom: 2%; */
    /* margin-bottom: 3%; */
    /* margin-left: 2.5%; */
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 210px;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    /* border: 1px solid black; */
    /* padding: 20px; */
    /* background-color: rgb(156, 3, 3); */
}

.div-outlet-logo{
    height: 70px;
    width: 100%;
    /* border: 1px solid black; */
    display: none;

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    /* padding-top: 0px; {if two lines} */
    margin-left: 0%;
    text-align: center;
}

.div-outlet-about{
    padding-top: 3px;
}

.div-outlet-button{
    /* padding-top: 15px; */
    text-align: center;
    bottom: -10px;
}

.carousel-item{
    padding-top: 30px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

.carousel-indicators{
    bottom: 0;
}

/* Featured Products */

.div-featured-product{
    height: auto;
    padding: 3% 2.2%;
    background-color: white;
    border-bottom: 1px solid #9acd32;
}

.span-featured-products{
    font-size: 20px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-card-prod{
    height: 100px;
    width: 113px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    width: 113px;
    height: 50px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 18px;
}

.span-outlet-customer{
    font-size: 28px;
    line-height: 1.2;
}

/* Footer */

.div-footer-1{
    padding-top: 0;
}

.text-footer-logo{
    font-size: 15.5px;
}

.div-footer-col-2-logo{
    text-align: center;
    padding: 1rem;
}

.div-footer-col-2-text{
    text-align: center;
}

.div-footer-col-3{
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 50vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    /* max-width: 310px; */
    width: 100%;
    padding-top: 10px;
}

.div-video-screen{
    height: 30vh;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.carousel-indicators .active{
    background-color: orange !important;
}

.carousel-indicators li{
    background-color: gray !important;
    visibility: visible;
}

.icon-prev, .icon-next{
    /* color: orange !important; */
    color: black !important;
}

.div-header{
    background-color: #006600;
    height: 55px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    padding: .5rem 1rem;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 70%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 30%;

    position: absolute; 
    top: 54px;
    right: -15px;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 480px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-outlet{
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.div-outlet-product{
    height: 300px;
    width: 100%;
    margin-left: 2.5%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 300px;
    width: 100%;
    margin-left: 3%;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: rgb(156, 3, 3);
}

.div-outlet-logo{
    height: 70px;
    width: 100%;
    display: block;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-right: 1rem;
    padding-top: 18px;
    /* padding-top: 0px; {if two lines} */
    margin-left: -1.5%;
}

.div-outlet-about{
    padding-top: 10px;
}

.div-outlet-button{
    padding-top: 10px;
    bottom: 0;
}

.carousel-item{
    padding-top: 60px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 240px;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
}

.div-card-prod{
    height: 100px;
    width: 113px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    width: 113px;
    height: 75px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 18px;
}

.span-outlet-customer{
    font-size: 28px;
    line-height: 1.2;
}

/* Footer */

.div-footer-1{
    padding-top: 1rem;
}

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 23vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 650px;
}

.div-video-screen{
    height: 15vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.div-header{
    background-color: #006600;
    height: 55px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 70%;
}

.div-header-searchbar .input-group{
    width: 100%;
}

.navbar-collapse{
    background-color: #006600;
    padding: 0px 15px 15px 15px;
    width: 30%;

    position: absolute; 
    top: 54px;
    right: -15px;

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 480px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-outlet{
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.div-outlet-product{
    height: 300px;
    width: 100%;
    margin-left: 2.7%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 300px;
    width: 100%;
    margin-left: 3%;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: rgb(156, 3, 3);
}

.div-outlet-logo{
    height: 70px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-top: 18px;
    /* padding-top: 0px; {if two lines} */
    margin-left: -1.5%;
}

.div-outlet-about{
    padding-top: 10px;
}

.div-outlet-button{
    padding-top: 10px;
}

.carousel-item{
    padding-top: 60px;
}

.span-outlet-name{
    font-size: 20px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 240px;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left: 43px;
    padding-right: 42px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.div-card-prod{
    height: 150px;
    width: 180px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 10px;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    width: 180px;
    height: 75px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 18px;
}

.span-outlet-customer{
    font-size: 28px;
    line-height: 1.2;
}

/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 23vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 650px;
}

.div-video-screen{
    height: 15vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.pad-right{
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-center{
    padding-right: 3px;
    padding-left: 3px;
}
    
.div-header{
    background-color: #006600;
    height: 58px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: 0px !important;
}

.font-logo{
    font-size: 30px;
}

.div-header-searchbar{
    width: 46%;
}

.div-header-searchbar .input-group{
    width: 100%;
}    

.navbar-collapse{
    padding: 0%;
    position: relative; 
    top: 0;
    right: -0px; 

}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.navbar-collapse{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 480px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.div-featured{
    /* height: 50px; */
    font-size: 25px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2%;
}

.div-outlet{
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.div-outlet-product{
    height: 300px;
    width: 37%;
    margin-left: 0%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 300px;
    width: 60%;
    margin-left: 3%;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: rgb(156, 3, 3);
}

.div-outlet-logo{
    height: 90px;
    width: 100%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-top: 18px;
    /* padding-top: 0px; {if two lines} */
    margin-left: -1.5%;
}

.div-outlet-about{
    padding-top: 10px;
}

.div-outlet-button{
    padding-top: 20px;
}

.carousel-item{
    padding-top: 60px;
}

.span-outlet-name{
    font-size: 30px;
    color: white;
}

.span-outlet-about{
    font-size: 16px;
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

/* Featured Products */

.div-featured-product{
    min-height: 300px;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 2.2%;
}

.span-featured-products{
    font-size: 25px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-card-prod{
    height: 120px;
    width: 130px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0px;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    height: 50px;
    width: 130px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 20px;
}

.span-outlet-customer{
    font-size: 32px;
    line-height: 1.2;
}

/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 33vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 960px;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
.pad-right{
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-center{
    padding-right: 3px;
    padding-left: 3px;
}

.div-header{
    background-color: #006600;
    height: 65px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: -3px !important;
}

.font-logo{
    font-size: 40px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 90%;
}

.navbar-collapse{
    padding: 0%;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.navbar-collapse{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 380px;
    /* border-bottom: 1px solid black; */
    /* background:white; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div-featured{
    /* height: 50px; */
    font-size: 22px;
    /* font-style: italic; */
    position: absolute;
    top: 3%;
    padding-left: 3.3%;
}

.div-outlet{
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.div-outlet-product{
    height: 290px;
    width: 30%;
    margin-left: 85px;
    /* margin-left: 65px; */
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 290px;
    width: 54%;
    margin-left: 10px;
    /* margin-left: 60px; */
    /* border: 1px solid black; */
    padding: 20px 30px;
    background-color: rgb(156, 3, 3);
}

.div-outlet-logo{
    height: 85px;
    width: 90%;
    /* border: 1px solid black; */
    display: block;

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-top: 20px;
    /* padding-top: 0px; {if two lines} */
    margin-left: -2.5%;
}

.div-outlet-about{
    padding-top: 10px;
}

.div-outlet-button{
    padding-top: 20px;
}

.carousel-item{
    padding-top: 25px;
}

.carousel-indicators{
    bottom: 0px;
}

.span-outlet-name{
    font-size: 30px;
    color: white;
}

.span-outlet-about{
    font-size: 18px;
    color: white;
}

/* Featured Products */

.div-featured-product{
    min-height: 270px;
    height:auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    /* background-color: #d7e4bd; */
    padding: 0.5% 0% 2.5% 2.3%;
}

.span-featured-products{
    font-size: 18px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left:12px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-card-prod{
    height: 150px;
    width: 180px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    height: 50px;
    width: 180px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 22px;
}

.span-outlet-customer{
    font-size: 35px;
    line-height: 1.2;
}

/* Footer */

.text-footer-logo{
    font-size: 14px;
}

.div-footer-col-2-logo{
    text-align: right;
    padding: 0;
}

.div-footer-col-2-text{
    text-align: left;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 33vh;
    padding: 0.5% 1.7%;
}

.div-videos .container{
    max-width: 960px;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0px;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    
.div-header{
    background-color: #006600;
    height: 68px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.navbar{
    margin-top: -5px !important;
}


.font-logo{
    font-size: 45px;
}

.div-header-searchbar{
    width: 100%;
}

.div-header-searchbar .input-group{
    width: 50%;
}

.navbar-collapse{
    padding: 0%;
}

.div-logo{
    order: 1;
}

.div-header-searchbar{
    order: 2;
}

.div-button{
    order: 4;
}

.navbar-collapse{
    order: 3;
}

/* Body */
.div-featured-stores{
    height: 600px;
    /* border-bottom: 1px solid black; */
    background-image: url("../img/bg-featured-store2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div-featured{
    /* height: 50px; */
    font-size: 35px;
    /* font-style: italic; */
    position: absolute;
    top: 1%;
    padding-left: 2.3%;
}

.div-outlet{
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.div-outlet-product{
    height: 450px;
    width: 30%;
    margin-left: 115px;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/products/file_2_267124.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.div-outlet-details{
    height: 450px;
    width: 53%;
    margin-left: 60px;
    /* border: 1px solid black; */
    padding: 40px;
    background-color: rgb(156, 3, 3);
}

.div-outlet-logo{
    height: 120px;
    width: 85%;
    /* border: 1px solid black; */

    background-image: url("https://www.outletko.com/images/profile/file_2_777983.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div-outlet-name{
    padding-left: 0;
    padding-top: 30px;
    /* padding-top: 0px; {if two lines} */
}

.div-outlet-about{
    padding-top: 10px;
}

.div-outlet-button{
    padding-top: 20px;
}

.carousel-item{
    padding-top: 50px;
}

.span-outlet-name{
    font-size: 45px;
    color: white;
}

.span-outlet-about{
    font-size: 20px;
    color: white;
}

/* Featured Products */

.div-featured-product{
    min-height: 300px;
    height: auto;
    background-color: white;
    border-bottom: 1px solid #9acd32;
    padding: 0.5% 1.7%;
}

.span-featured-products{
    font-size: 30px;
    /* font-style: italic; */
}

.div-list-product{
    padding-left: 223px;
    padding-right: 224px;
}

.div-card-prod{
    height: 175px;
    width: 200px;
    border: 1px solid #006600;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-image: url('https://www.outletko.com/images/products/file_48_643092.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;

}

.div-card-prod-name{
    height: 50px;
    width:200px;
    border: 1px solid #006600;
    border-top: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: black;
    background-color: white;
}

.div-card-prod-name .prod-title{
    font-size: 15px;
}

.div-card-prod-name .prod-price{
    font-size: 14px;
}

.span-outlet-business{
    font-size: 30px;
}

.span-outlet-customer{
    font-size: 45px;
    line-height: 1.2;
}

/* Videos */

.div-videos{
    background: green;
    min-height: 35vh;
    padding: 0.5% 1.7%;
}

.div-video-screen{
    height: 25vh;
    width: 100%;
}

.div-video-screen iframe{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
}

}
