/* The Modal (background)
#modal-image .modal { */
/*    display: none;  Hidden by default */
/*    position: fixed; /* Stay in place */
/*    z-index: 1; /* Sit on top */
/*    padding-top: 100px; /* Location of the box */
/*    left: 0;
/*    top: 0;
/*    width: 100%; /* Full width */
 /*   height: 100%; /* Full height */
/*    overflow: auto; /* Enable scroll if needed */
/*    background-color: rgb(0,0,0); /* Fallback color */
 /*   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  /* } */
  
  /* Modal Content (image) */
  /* #modal-image .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  } */
  
  /* Caption of Modal Image */
  /* #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  } */
  
  /* Add Animation */
  /* #modal-image .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  } */
  
  /* The Close Button */
  /* #modal-image .close {
    position: absolute; */
    /* top: 15px; */
    /* right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  #modal-image .close:hover,
  #modal-image .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
   */
  /* 100% Image Width on Smaller Screens */
  /* @media only screen and (max-width: 700px){
      #modal-image  .modal-content {
      width: 91.5%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
   */

.font-weight-400{
    font-weight: 400;
}

.font-weight-600{
    font-weight: 600;
}

.font-weight-525{
    font-weight: 525;
}

.font-size-12{
    font-size: 14px;
}

.text-facebook{
    color: #3b5998 ;
}

.text-twitter{
    color: #38A1F3;
}

.text-youtube{
    color: #c4302b;
}

.btn-transparent{
    background: transparent;
}

.btn-orange{
    background: orange;
    color: white;
}

.btn-white{
    background: white;
}

.btn-green{
    background: rgb(119,147,60);
    color: white;
}

.border-green{
    border: 1px solid rgb(119,147,60);
}

.bd-yellow{
    border: 0.5px solid yellow;
}

.bd-orange{
    border: 0.5px solid orange;
}

.bg-gray{
    background-color: rgb(217, 217, 217);
}

.rounded-top-75{
    border-top-left-radius : 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.rounded-bottom-75{
    border-bottom-right-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
}

.textbox-orange{
    border: 1px solid orange;
}

.text-green{
    color: green;
}

.text-orange{
    color: orange;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


.card{
    height: 150px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.div-card-name{
    height: auto;
    min-height: 75px;
    border: 1px solid green;
    border-top: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.div-card-name{
    line-height:75px;
}

.div-card-name h5{
    display:inline-block; 
    vertical-align: middle; 
    line-height:normal;
}


.div-store-about{
    background:rgb(0,0,0,0.2);
    height:200px;
}

.card-body{
    height: 150px;
    line-height:150px;
}

.card-body h4{
    display:inline-block; 
    vertical-align: middle; 
    line-height:normal;
}



.text-shadow-white{
    /* text-shadow: 2px 2px white; */
}

.text-shadow-black{
    /* text-shadow: 2px 2px black; */
}

.text-green-white{
    color: green;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.text-green-black{
    color: green;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.text-orange-white{
    color: orange;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.text-orange-black{
    color: orange;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}


.header{
/*    background: linear-gradient(
        rgba(20,20,20, .8), 
        rgba(20,20,20, .8)), url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg'); */
/*    background: url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg');*/
/*    background: url('http://www.rightfashion.us/wp-content/uploads/2018/07/Ideas-For-Buying-Gold-Earrings.jpg');*/
    /* background: linear-gradient(
        rgba(20,20,20, .3), 
        rgba(20,20,20, .3)), url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg');  */
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100% 100%;
    min-height: 50vh;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/* html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
} */

.line-1{
    position: relative;
    /* top: 50%;   */
    width: 27em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /* font-size: 180%;  */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: 
            /* typewriter 6s steps(44) 1s 1 normal both, */
            /* blinkTextCursor 500ms steps(44) infinite normal; */
            typewriter 7s steps(160,end),
            blinkTextCursor .75s step-end infinite;
  animation-iteration-count: infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.header{
        background: url('../img/bg-phone-2.png');
        background-repeat:no-repeat; 
        background-size: 100% 100%;
        min-height: 30vh;
}       

.img-logo{
    height: 100%; 
    width:30%;
}

.text-community{
    line-height: 1.2;
    font-size: 25px;
}

.tile{
  width: 46%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
  margin: 5px;
}

.div-search-box{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25% !important;
    margin-bottom: 20% !important;
}

.font-size-35{
    font-size: 25px !important;
}

#modal-image{
    top: 7vh;
    margin: 0;
    padding: 0;;
}

#modal-image  .modal-dialog{
    /* max-width: 92% !important; */
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 3%;
    padding-right: 7%;
}

/* #modal-image .modal-content{
    width: 100%;
} */

.text-body{
    font-size: 23px;
}

.text-body-0{
    font-size: 30px;
}

.div-body-image{
    padding-top: 0px;
}

.img-body{
    height: 175px;
}

.text-micro{
    line-height: 25px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 30px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100%;
    min-height: 50vh;
}       


.text-community{
    line-height: 1.2;
    font-size: 25px;
}        

.img-logo{
    height: 100%; 
    width:80%;
}

.tile{
  width: 50%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
}

.header{
    background-size: 100% 100%;
}

.div-search-box{
    padding-left: 0px;
    padding-right: 0px;
}

#modal-image  .modal-dialog{
    max-width: 600px !important;
}

.div-body-image{
    /* padding-top: 100px; */
    padding-top: 30px;
}

.img-body{
    max-width: 100%;
    height: 250px;
}

.text-body{
    font-size: 23px;
}

.text-body-0{
    font-size: 29px;
}

.text-micro{
    line-height: 30px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 35px;
}

.bg-outletko-modal{
    background: url('../img/outletko-man-woman-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 40px;
    height: 300px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}   

.img-logo{
    height: 100%; 
    width:100%;
}

.div-footer-1{
    padding-right: 45px;
    padding-left: 45px;
}

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 120% 100%;
    min-height: 40vh;
}       

#div-featured-outlet{
    padding-left: 20px;
    padding-right: 20px;
}

.tile{
  /* width: 20%; */
  width: 16%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
}

.div-search-box{
    /* padding-left: 70px;
    padding-right: 70px; */
    margin-top: 10% !important;
}

.card{
    height: 120px !important;
}

#modal-image{
    top: 10vh;
}

#modal-image  .modal-dialog{
    max-width: 600px !important;
}

.div-body-image{
    /* padding-top: 100px; */
    padding-top: 30px;
}

.img-body{
    max-width: 100%;
    height: 250px;
}

.text-body{
    font-size: 23px;
}

.text-body-0{
    font-size: 32px;
}

.text-micro{
    line-height: 25px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 30px;
}

.bg-outletko-modal{
    background: url('../img/outletko-man-woman-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 40px;
    height: 275px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100% 100%;
    min-height: 60vh;
}       
        
.text-community{
    line-height: 1.2;
    font-size: 35px;
}

.pad-right{
    padding-right: 3px;
}   

.img-logo{
    height: 100%; 
    width:90%;
}
    
.div-footer-1{
    padding-right: 40px;
    padding-left: 40px;
}

.div-footer-col-2{
    padding-right:30px;
    padding-left: 0px;
}

.font-size-14{
    font-size: 13px !important;
}

.div-search-box{
    margin-top: 15% !important;
    padding-left: 0px;
    padding-right: 0px;
}

#modal-image  .modal-dialog{
    max-width: 650px !important;
}

.div-body-image{
    /* padding-top: 100px; */
    padding-top: 30px;
}

.img-body{
    max-width: 100%;
    height: 250px;
}

.text-body{
    font-size: 30px;
}

.text-body-0{
    font-size: 35px;
}

.text-micro{
    line-height: 30px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 35px;
}

.bg-outletko-modal{
    background: url('../img/outletko-man-woman-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 40px;
    height: 300px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.header{
    min-height: 70vh;
    background-size: 100% 100%;
}

.span-partner{
    margin-top: -2%;
}

.text-community{
    line-height: 1.2;
    font-size: 40px;
}

.div-search-box{
    margin-top: 18% !important;
}

.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}    
    
.img-logo{
    height: 100%; 
    width:80%;
}

.div-footer-1{
    padding-right: 100px;
    padding-right: 100px;
}

.div-footer-col-2{
    padding-right:40px;
}

.font-size-14{
    font-size: 14px !important;
}

.card{
    height: 100px !important;
    width: 120px !important;
}

.div-card-name{
    width: 120px !important;
}

.div-card-name p{
    font-size: 14px !important;

}

#modal-image  .modal-dialog{
    max-width: 700px !important;
}

.div-body-image{
    /* padding-top: 100px; */
    padding-top: 30px;
}

.img-body{
    max-width: 100%;
    height: 290px;
}

.text-body{
    font-size: 30px;
}

.text-body-0{
    font-size: 35px;
}

.text-micro{
    line-height: 30px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 35px;
}

.bg-outletko-modal{
    background: url('../img/outletko-man-woman-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 40px;
    height: 325px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}    
    
.img-logo{
    height: 100%; 
    width:90%;
}

.div-footer-1{
    padding-right: 350px;
    padding-right: 350px;
}

.div-footer-col-2{
    padding-right:40px;
}

.font-size-14{
    font-size: 14px !important;
}

.card{
    height: 200px !important;
}

#modal-image  .modal-dialog{
    max-width: 700px !important;
}

.div-body-image{
    /* padding-top: 100px; */
    padding-top: 30px;
}

.img-body{
    max-width: 100%;
    height: 300px;
    /* height: 200px; */
}

.text-body{
    font-size: 27px;
}

.text-body-0{
    font-size: 34px;
}

.text-micro{
    line-height: 30px;
}

.text-modal-footer{
    margin-top: 15px;
    line-height: 35px;
}

.bg-outletko-modal{
    background: url('../img/outletko-man-woman-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 40px;
    height: 325px;
}

}