/*@import url(//db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93);
@font-face {
    font-family: "Bauhaus 93"; 
    src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot"); 
    src: url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.svg#Bauhaus 93") format("svg"); 
}
*/

@import url(../fonts/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93);
@font-face {
    font-family: "Bauhaus 93"; 
    src: url("../fonts/89d11a443c316da80dcb8f5e1f63c86e.eot"); 
    src: url("../fonts/89d11a443c316da80dcb8f5e1f63c86e.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/89d11a443c316da80dcb8f5e1f63c86e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.woff") format("woff"), 
    url("../fonts/89d11a443c316da80dcb8f5e1f63c86e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/89d11a443c316da80dcb8f5e1f63c86e.svg#Bauhaus 93") format("svg"); 
}


.font-bauhaus-93{
    font-family: "Bauhaus 93";
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-600{
    font-weight: 600;
}

.font-weight-525{
    font-weight: 525;
}

.font-size-12{
    font-size: 14px;
}

.text-facebook{
    color: #3b5998 ;
}

.text-twitter{
    color: #38A1F3;
}

.text-youtube{
    color: #c4302b;
}

.btn-transparent{
    background: transparent;
}

.btn-orange{
    background: orange;
    color: white;
}

.btn-white{
    background: white;
}

.btn-green{
    background: rgb(119,147,60);
    color: white;
}

.border-green{
    border: 1px solid rgb(119,147,60);
}

.bd-yellow{
    border: 0.5px solid yellow;
}

.bd-orange{
    border: 0.5px solid orange;
}

.bg-gray{
    background-color: rgb(217, 217, 217);
}

.rounded-top-75{
    border-top-left-radius : 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.rounded-bottom-75{
    border-bottom-right-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
}

.textbox-orange{
    border: 1px solid orange;
}

.text-green{
    color: green;
}

.text-orange{
    color: orange;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


.card{
    height: 150px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.div-card-name{
    height: auto;
    min-height: 75px;
    border: 1px solid green;
    border-top: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.div-card-name{
    line-height:75px;
}

.div-card-name h5{
    display:inline-block; 
    vertical-align: middle; 
    line-height:normal;
}


.div-store-about{
    background:rgb(0,0,0,0.2);
    height:200px;
}

.card-body{
    height: 150px;
    line-height:150px;
}

.card-body h4{
    display:inline-block; 
    vertical-align: middle; 
    line-height:normal;
}

.text-shadow-white{
    /* text-shadow: 2px 2px white; */
}

.text-shadow-black{
    /* text-shadow: 2px 2px black; */
}

.text-green-white{
    color: green;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.text-green-black{
    color: green;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.text-orange-white{
    color: orange;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.text-orange-black{
    color: orange;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}


.header{
/*    background: linear-gradient(
        rgba(20,20,20, .8), 
        rgba(20,20,20, .8)), url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg'); */
/*    background: url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg');*/
/*    background: url('http://www.rightfashion.us/wp-content/uploads/2018/07/Ideas-For-Buying-Gold-Earrings.jpg');*/
    /* background: linear-gradient(
        rgba(20,20,20, .3), 
        rgba(20,20,20, .3)), url('https://i.pinimg.com/originals/72/dc/4e/72dc4e345520467efc23f15419f86694.jpg');  */
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100% 100%;
    min-height: 50vh;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/* html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
} */

.line-1{
    position: relative;
    /* top: 50%;   */
    width: 27em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /* font-size: 180%;  */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: 
            /* typewriter 6s steps(44) 1s 1 normal both, */
            /* blinkTextCursor 500ms steps(44) infinite normal; */
            typewriter 7s steps(160,end),
            blinkTextCursor .75s step-end infinite;
  animation-iteration-count: infinite;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.header{
        background: url('../img/bg-phone-2.png');
        background-repeat:no-repeat; 
        background-size: 100% 100%;
        min-height: 30vh;
}       

.img-logo{
    height: 100%; 
    width:30%;
}

.text-community{
    line-height: 1.2;
    font-size: 25px;
}

.tile{
  width: 46%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
  margin: 5px;
}

.div-search-box{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25% !important;
    margin-bottom: 20% !important;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100%;
    min-height: 50vh;
}       


.text-community{
    line-height: 1.2;
    font-size: 25px;
}        

.img-logo{
    height: 100%; 
    width:80%;
}

.tile{
  width: 50%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
}

.header{
    background-size: 100% 100%;
}

.div-search-box{
    padding-left: 0px;
    padding-right: 0px;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}   

.img-logo{
    height: 100%; 
    width:100%;
}

.div-footer-1{
    padding-right: 45px;
    padding-left: 45px;
}

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 120% 100%;
    min-height: 40vh;
}       

#div-featured-outlet{
    padding-left: 20px;
    padding-right: 20px;
}

.tile{
  width: 20%;
  min-height:22px;
/*    border: 1px #BDBDBD solid;*/
  display: inline-block;
}

.div-search-box{
    /* padding-left: 70px;
    padding-right: 70px; */
    margin-top: 10% !important;
}

.card{
    height: 120px !important;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.header{
    background: url('../img/bg.png');
    background-repeat:no-repeat; 
    background-size: 100% 100%;
    min-height: 60vh;
}       
        
.text-community{
    line-height: 1.2;
    font-size: 35px;
}

.pad-right{
    padding-right: 3px;
}   

.img-logo{
    height: 100%; 
    width:90%;
}
    
.div-footer-1{
    padding-right: 40px;
    padding-left: 40px;
}

.div-footer-col-2{
    padding-right:30px;
    padding-left: 0px;
}

.font-size-14{
    font-size: 13px !important;
}

.div-search-box{
    margin-top: 15% !important;
    padding-left: 0px;
    padding-right: 0px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.header{
    min-height: 70vh;
    background-size: 100% 100%;
}

.span-partner{
    margin-top: -2%;
}

.text-community{
    line-height: 1.2;
    font-size: 40px;
}

.div-search-box{
    margin-top: 18% !important;
}

.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}    
    
.img-logo{
    height: 100%; 
    width:80%;
}

.div-footer-1{
    padding-right: 100px;
    padding-right: 100px;
}

.div-footer-col-2{
    padding-right:40px;
}

.font-size-14{
    font-size: 14px !important;
}

.card{
    height: 100px !important;
    width: 120px !important;
}

.div-card-name{
    width: 120px !important;
}

.div-card-name p{
    font-size: 14px !important;

}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {

.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}    
    
.img-logo{
    height: 100%; 
    width:90%;
}

.div-footer-1{
    padding-right: 350px;
    padding-right: 350px;
}

.div-footer-col-2{
    padding-right:40px;
}

.font-size-14{
    font-size: 14px !important;
}

.card{
    height: 200px !important;
}

}