.error{
    border: 1px solid red !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-black{
    color: black;
}

.text-white{
    color: white;
}

.text-red{
    color: red;
}

.text-yellow-orange{
    color: #ffae42;
}

.text-yellow{
    color: yellow;
}

.text-gold{
    color: #FFDF00;
}

.text-gray{
    color: gray;
}

.text-light-gray{
    color: #D3D3D3;
}

.text-green{
    color: green;
}

.text-orange{
    color: orange;
}

.textbox-orange{
    border: 1px solid orange;
}

.textbox-green{
    border: 1px solid green;
}

.textbox-30{
    height: 30px;
}

.font-size-55{
    font-size: 55px;
}

.font-size-50{
    font-size: 50px;
}

.font-size-45{
    font-size: 45px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-38{
    font-size: 38px;
}

.font-size-30{
    font-size: 30px;
}

.font-size-28{
    font-size: 28px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-14{
    font-size: 14px;
}

.font-weight-600{
    font-weight: 600;
}

.bg-light-green{
    background: rgb(119, 147, 60);
}

.left{
    min-height: 90vh;
    height: auto;
    float: left;
    background: rgb(119, 147, 60);
}

.right{
    float: right;
    height: 90vh;
    background: url('/assets/img/e-store6.png');
    border-left: 110px solid rgb(119, 147, 60); 
    border-bottom: 630px solid transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-transparent{
    background: transparent;
}

.btn-orange{
    background: orange;
    color: white;
}

.btn-green{
    background: rgb(119,147,60);
    color: white;
}

.bd-yellow{
    border: 0.5px solid yellow;
}

.rounded-top-75{
    border-top-left-radius : 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.rounded-bottom-75{
    border-bottom-right-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
}

#div-ads{
    margin-top: 175px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.font-size-45{
    font-size: 30px;
}

.font-size-36{
    font-size: 20px;
}

#div-search-engine{
    margin-top: 100px;
}

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.font-size-36{
    font-size: 23px;
}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.right{
    float: right;
    height: 90vh;
    background: url('/assets/img/e-store6.png');
    border-left: 110px solid rgb(119, 147, 60); 
    border-bottom: 930px solid transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
    
.font-size-36{
    font-size: 30px;
}

.font-size-45{
    font-size: 40px;
}

.font-size-55{
    font-size: 50px;
}

#div-were{
    text-align: left;
}

#div-search-engine{
    margin-top: 70px;
    padding-bottom: 50px;
}


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.pad-center{
    padding-left: 3px;
    padding-right: 3px;
}

.pad-left{
    padding-left: 3px;
}

.pad-right{
    padding-right: 3px;
}

.font-size-36{
    font-size: 36px;
}

#div-were{
    text-align: center;
}

#div-search-engine{
    margin-top: 75px;
}

#div-title{
    margin-top: 18px;
}

.main{position:relative;}

.div-outlet-img {
    background: white;
    height: auto;
}

.div-outlet-title {
    background: white;
    min-height: 100px;
    height: auto;
}

.div-circle {
    display: block;
    height: 60px;
    left: 35%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: calc(0% + 105px);
    width: 60px;
    background: white;
}


}
