input,select{
    color:black !important;
    font-weight: 500;
}

table td, .table th{
    border-top: 0;
    border-bottom:0;
}

table thead td, .table thead th{
    border-top: 0;
    border-bottom:0;
}

table tbody td, .table tbody th{
    border-top: 0;
    border-bottom:0;
}

.text-decoration-line{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 10%;
}

.parsley-errors-list{
    list-style: none !important;
    padding: 0 !important;
    color:red !important;
    margin: 0 !important;
}

.parsley-error{
    border: 1px solid red;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

.div-plan{
    width: 300px;
}

#card_number {
    background-image: url("../images/images.png"), url("../images/images.png");
    background-position: 2px -121px, 365px -61px;
    background-repeat: no-repeat;
    background-size: 120px 361px, 120px 361px;
    padding-left: 54px;
    height: 34px;
    /* width: 225px; */
}

.div-payment-type:hover{
    background:#a7fc00;
}

.div-payment-type .active{
    background: #ffa812;
}

.div-plan-discount{
    /* background: black; */
    padding: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.font-size-25{
    font-size: 22px;
}

.div-plan-header{
    height:200px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 0px;
}

.div-plan-discount{
    padding: 16px;
}

.font-header-discount{
    font-size: 17px;
}

.font-header-discount-2{
    font-size: 15px;
}

.div-plan-a, .div-plan-b, .div-plan-c, .div-plan-d{
    border: 1px solid gray;
    margin-top: 10px;
    padding-bottom: 10px;
}

.div-cart-total{
    /* padding-left: 0;
    padding-right: 0; */
}

.div-bill-total{
    height:220px;
    margin-top:5%;
    margin-bottom: 3%;
}

.div-payment-header{
    height:150px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 25px;
    padding-top: 50px;
}

.div-payment-divider{
    height: 220px;
    margin-top: 10px;
}

.div-plan-font-header{
    /* padding-top: 30px; */
    padding-top: 10px;
    font-size: 25px;
}

.div-cart-details{
    margin-right: 0;
    margin-left: 0;
}

.plan-discount-price{
    font-size: 25px;
}

.div-plan-btn{
    font-size: 18px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.font-size-25{
    font-size: 18px;
}

.font-size-30{
    font-size: 25px;
}

.div-plan-header{
    height:240px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.div-plan-subheader{
    padding-top: 50px;
}

.div-plan-discount{
    padding: 20px;
}

.font-header-discount{
    font-size: 27px;
}

.font-header-discount-2{
    font-size: 22px;
}

.div-bill-total{
    height:200px;
    margin-top:5%;
    margin-bottom: 3%;
    margin-left: 15px;
}
 
.div-payment-header{
    height:350px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div-payment-divider{
    height: 180px;
}

.div-plan-font-header{
    /* padding-top: 60px; */
    padding-top: 20px;
    font-size: 30px;
}


.div-plan-a, .div-plan-b, .div-plan-c, .div-plan-d{
    border: 1px solid gray;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 300px;
}

.div-cart-total{
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 95.5%;
}

.div-plan{
}

.div-plan-btn{
    padding-top: 20px;
}

.div-plan-btn button{
    font-size: 18px;
    padding-left: 3rem;
    padding-right: 3rem;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


.font-size-25{
    font-size: 18px;
}

.div-plan-header{
    height:300px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 15px;
}

.font-header-discount{
    font-size: 30px;
}

.font-header-discount-2{
    font-size: 22px;
}

.div-plan-subheader{
    padding-top: 40px;
}

.div-bill-total{
    height:175px;
    margin-top:79.9%;
    margin-left: 0;
}

.div-payment-header{
    height:300px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    font-size:50px;
}

.div-payment-divider{
    height: 200px;
}

.plan-discount-price{
    font-size: 38px;
}

.div-plan-btn{
    padding-top: 20px;
}

.div-plan-btn button{
    font-size: 18px;
    padding-left: 3rem;
    padding-right: 3rem;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.div-plan-a, .div-plan-b, .div-plan-c, .div-plan-d{
    border: 0;
}
    
.div-cart-total{
    margin-left: 0rem;
    margin-right: 0rem;
    max-width: 100%;
    height: 212px;
}

.div-plan-header{
    height:300px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div-plan{
    width: auto;
}

.div-plan-btn{
    padding-top: 20px;
}

.div-plan-btn button{
    font-size: 18px;
    padding-left: 3rem;
    padding-right: 3rem;
}


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.font-size-25{
    font-size: 25px;
}

.div-cart-total{
    margin-left: 0rem;
    margin-right: 0rem;
    max-width: 100%;
    height: 178px;
}

.font-header-discount{
    font-size: 40px;
}

.font-header-discount-2{
    font-size: 30px;
}

.div-plan-header{
    height:325px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* padding-top: 75px; */
    padding-top: 0px;
}

.div-plan-subheader{
    padding-top: 30px;
}

.div-plan-font-header{
    padding-top: 20px;
}

.div-cart-header{
    height:325px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.div-payment-header{
    height:325px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 120px;
}

.div-bill-header{
    height:325px;
    background-image: url('../images/register-header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.div-payment-divider{
    height: 210px;
}

.div-bill-total{
    height:200px;
    margin-top:48.3%;
}

.div-plan-font-header{
    line-height: 1.2;
}

.div-cart-font-header{
    line-height: 1.2;
}

.font-header{
    font-size: 45px;
    font-weight: 550;
}

.font-subheader{
    font-size: 20px;
    /* font-weight: 300; */
}

.plan-discount-price{
    font-size: 43px;
}

.div-plan-btn{
    padding-top: 20px;
}

.div-plan-btn button{
    font-size: 25px;
    padding-left: 3rem;
    padding-right: 3rem;
}


}